@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h2{
    text-align: center;
    padding: 40px;
    font-size: 40px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

form input{
    width: 400px;
    padding: 20px;
    color: #000;
    font-size: 20px;
}

.btn{
    display: block;
    margin: 10px auto;
    border: none;
    background: #000;
    color: #fff;
    padding: 10px;
    width: 350px;
    border-radius: 15px;
    font-size: 15px;
    transition: 0.3s all;
}

.btn:hover{
    background: #fff;
    color: #000;
    border: 1px solid black;
}

.cardJson{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* border: 1px solid black; */
    width: 300px;
    margin: 30px auto;
    box-shadow: 10px 10px 10px black;
    padding: 10px;
}